* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #100c12;
    background-alt:              #8D14DD;
    foreground:                  #cfcccc;
    selected:                    #F3FD72;
    active:                      #97A763;
    urgent:                      #8B7D86;
}