* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #000000;
    background-alt:              #55ffff;
    foreground:                  #ffffff;
    selected:                    #ffff55;
    active:                      #ff5555;
    urgent:                      #ff55ff;
}