* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #000000;
    background-alt:              #55FFFF;
    foreground:                  #FFFFFF;
    selected:                    #FFFF55;
    active:                      #FF5555;
    urgent:                      #FF55FF;
}